:root {
  --var-dark-blue: rgb(12, 0, 50);
  --var-midDark-blue: rgb(26, 0, 97);
  --var-blue: rgb(35, 0, 144);
  --var-light-blue: rgb(52, 2, 208);
  --var-gray: rgb(40, 40, 40);
  --var-whit: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--var-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 20px 30px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.rightContainerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.recentScores {
  font-size: 22px;
  font-weight: bold;
}

.refresh {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #444;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.score {
  display: flex;
  align-items: center;
  padding: 5px;
  list-style: none;
  height: 30px;
  background-color: #eee;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 90%;
  height: 100%;
}

.addScore {
  font-size: 22px;
  font-weight: bold;
}

.scoreInput {
  height: 30px;
  width: 100%;
  margin-top: 15px;
  padding: 3px 6px;
}

.submit {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #444;
  margin-top: 10px;
  align-self: flex-end;
}
